/*

============= Border-Style ===========
dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border

  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;


============ border-width =============

pre-defined values: thin, medium, or thick:
specific size (in px, pt, cm, em, etc)


p.four {
  border-style: dotted;
  border-width: thick;
}



============= border-color =============

 border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left


============ Shorthand ===========
border-width
border-style (required)
border-color

============ Border-radius ============

for rounded corners:

border-radius









*/